html{
  font-family:'Comfortaa', cursive;
}

.content{
  width:70%;
  padding:4px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 15px;
  margin: auto;

}
table, th, td {
  border: 1px solid white;
}
table{
  width:90%;
  background-color: rgba(0,0,0,0.6) !important;
  border-radius: 15px !important;
  text-align: center !important;
  font-size: 1.4rem !important;
  margin: auto;
  color:white;
}

tr{
  
}
th,td{
  width:90%;
  text-align: center !important;
}

td:nth-child(2n){
  padding: 5px;
}

th{
  padding: 10px !important;
}

.tbl{
  margin: 40px;
}

.jumbo{
  color:#ffffff;
  width:70%;
  height: 30%;
  margin: auto;
}

.jumbotron{
  text-align: left;
  background: none !important;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.headT{
  margin-bottom: 30px;
}

.subT{
  margin-bottom: 20px;
}
.commT{
  text-align: right;
  font-size: 1em;
}
