/*
html,body{
	height:100%;
}*/
.jumbo{
	color:#ffffff;
	width:70%;
	height: 30%;
	margin: auto;
}

.jumbotron{
  text-align: left;
  background: none !important;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.headT{
	margin-bottom: 30px;
}

.subT{
	margin-bottom: 20px;
}
.commT{
	text-align: right;
	font-size: 1em;
}

.content{
	width:70%;
	margin: auto;
}

.questionares{
	text-align: center;
	background-color: rgba(0, 0, 0,0.8);
	padding: 10px;
	border: 1px solid white;
}

button{
	color:black;
	box-shadow: 2px 2px 3px #000000;
	
}

.disabled{
	text-decoration: line-through;
}
.disabled:hover{
	text-decoration: line-through;
}

table,td,th{
	border: 2px solid white;
	margin: auto;
	color:white;
}

th{
	background-color: rgba(255, 255, 255,0.4);

}

th,td{
	padding:10px;
	text-align: center;
	vertical-align: middle;
	width:100%;
}

td:nth-child(n+1){
	text-align: left;
}

td:nth-child(n+2){
	text-align: center;
}

i{
	font-size: 5rem;
}

.flf{
	display: flex;
	background-image: linear-gradient(to right, rgba(73,147,13,0.5) , rgba(98,163,46,0.5));
	background-image: linear-gradient(to right, rgba(192,49,17,0.5) , rgba(213,66,33,0.5));
}

.fyes{
	background-image: linear-gradient(to right, rgba(73,147,13,0.5) , rgba(98,163,46,0.5));
}

.fno{
	background-image: linear-gradient(to right, rgba(192,49,17,0.5) , rgba(213,66,33,0.5));

}


.frown{
	
}

.back{
text-align: center;
  margin:5% auto;
  font-size: 0.5rem;
}

label{
	width:100%;
}

