body{
  color:#ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.headingR{
  color:#ffffff;
}

.jumbotron{
  text-align: center;
  background: none;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.form{
  width:60%;
  margin: auto;
  text-align: center;

}

label{
  padding-bottom: 2px;
  }

.Box{
  margin:auto;
  padding: 10px 20px;
  border:1px solid black;
}

.mb-3{
  padding:20px;
  margin:0;
}

span{
  text-shadow: none;
}

.check{
  position: absolute;
  left:10%;
}

.label{
  width:90%;
  text-align: left;
  max-width: 100%;
}

.Box{
  background-color:rgba(206, 206, 206,0.5);

}