
body,html{
  background-image: url(https://w-dog.net/wallpapers/10/19/346843697827766.jpg);
/*  background-image: url(https://img.freepik.com/free-vector/blue-abstract-acrylic-brush-stroke-textured-background_53876-86373.jpg?size=626&ext=jpg);
*/ background-repeat: no-repeat;
 background-size: cover;
}

body{
  /*background-image:linear-gradient(to right,#f3f8ff,#e8d3ff);*/
  
  font-family:'Comfortaa', cursive;
  width:100%;
  height: 100%;
  overflow-x: hidden;
}

/* header */

.header-img{

}

.prompt{
  color:#ffffff;
}

h3{
  font-weight: 600;
  font-size:2.3rem;
  color: #ffffff;

}

.title{
  text-align: center;
  margin:auto;
  padding: 0;
  width:70%;
  color:#000000;
}

.image{
  text-align: center;
  margin: auto;
  padding: 0;
}

/* content */

.login-form{
  padding:15px;
  width:50%;
  margin:auto;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .login-form{
    
    width:90%;
  
  }
}
/* form */

.form-control{
  width:75%;
  margin:auto;
}

.form-group{
  margin:auto;
  padding: 14px 0;
}

input{
  padding: 14px 0 0;
}

label{
  font-weight: 600;
  font-size:1rem;
}



.contents{
  margin-top:100px;
}

.checkbox{
  padding: 10px
}
.upper{
  position: relative;
}
.person{
  z-index: 0;
  height:auto;
  width:265px;
  border-radius: 50%;
  border: 1px solid white;
}
/*
.person-info{
  z-index: 1;
  position: absolute;
  top:12%;
  left:17%;
  
}
*/
.centered {
  width:70%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* Second Page - To be removed eventually */

.test{
  padding-top: 5px;
}